@model IEnumerable<Powerlevel.Models.UserCurrWorkout>

@{
    ViewBag.Title = "Workout Select";
}

@if (Request.IsAuthenticated)
{

    <h2>Active Workouts for @User.Identity.Name </h2>

    <p>
        @Html.ActionLink("Start New Workout", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.UserName)
            </th>
            <th>
                Active Workout
            </th>
            <th>
                Current Exercise in Workout
            </th>
            <th>
                Stage
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                @if (item.User.UserName == User.Identity.Name)
                { 
                <td>

                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
                <td>
                    @Html.ActionLink(item.WorkoutExercise.Workout.Name, "WorkoutList", "Exercise", new { id = item.WorkoutExercise.WorkoutId}, null)
                </td>
                <td>
                    @Html.ActionLink(item.WorkoutExercise.Exercise.Name, "Details", "Exercise", new { id = item.WorkoutExercise.ExerciseId }, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserActiveWorkout)
                </td>
                <td>
                    @*
                                We wont use these for now
                        @Html.ActionLink("Complete", "Complete", new { id = item.UCWId }) |

                    *@

                    @Html.ActionLink("Edit", "Edit", new { id = item.UCWId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.UCWId }) |
                    @Html.ActionLink("Abandon", "Delete", new { id = item.UCWId })

                </td>
                }
            </tr>
        }

    </table>
}

else
{
    <h2>Active Plans</h2>
    <p>
        You must be @Html.ActionLink("Logged In", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        to view Active Workout Plans.
    </p>
}