@model Powerlevel.Models.Exercis
@using Powerlevel.Models

@{
    ViewBag.Title = "Details";
}

<div>
    <h4>Exercise</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            Primary Muscle Group
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MainMuscleWorked)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Instructions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Instructions)
        </dd>
        <!-- This block of code takes in the Viewbag list of ExerciseImage objects and displays the image for each one-->
        <dt>
            Images
        </dt>
        <dd>
            @foreach(ExerciseImage item in ViewBag.Images)
            {
                <!--Using the ImageName field, we can display all of the exercise images-->
                <img src="~/Content/images/exercise_examples/@item.ImageName" alt="ExerciseImage" style="height:400px;"/>
            }
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
