@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ToasterIt</h1>
    For informed users who need more information on a topic from multiple view points, ToasterIt is a central discussion site for users so that they can civilly discuss any topic and pose questions related to those topics. This site will provide a forum for users to discuss topics from other sites that do not host discussion forums such as CNN. Unlike the news sites that host these articles, users can have discussion and debate about these topics from multiple news sources. Our product will allow users to view articles from multiple sites to allow users to get the full story and perspective on a particular topic.
</div>



<div class="row">
    <div class="col-md-12">
        <center>
            <h2>Browse Topics</h2>
            @*need to work on the topic page, once we got the database working*@
            <p><a class="btn btn-primary" @Html.ActionLink("Read", "Index", "Topics")</a></p>

                @{/*  ----- NOTE: replace DATABASENAME with Azure database -----
                   
                  <tbody>
                      @foreach (var item in Model)
                      {
                          <tr>
                              <td>
                                  @* @Html.DisplayFor(m => DATABASENAME.ID) *@
                              </td>
                              <td>


                                  @* @Html.DisplayFor(m => DATABASENAME.Title) *@
                              </td>
                              <td>
                                  @* @Html.DisplayFor(m => DATABASENAME.Ranking) *@
                              </td>
                              <td>
                                  @* @Html.DisplayFor(m => DATABASENAME.Views) *@
                              </td>
                              <td>
                                  @* @Html.DisplayFor(m => DATABASENAME.Category) *@
                              </td>

                              <td>

                                  @*check for date*@
                                  @if (DATABASENAME.Timestamp.Date == DateTime.Today)
                                  {
                                      @*Format DateTime to show only the time*@
                                      DateTime time = item.Timestamp;
                                      @time.ToString("hh:mm tt");
                                  }
                                  else
                                  {
                                      @Html.DisplayFor(m => item.Timestamp)
                                  }

                              </td>
                          </tr>
                      }
                  </tbody>
                  */}
            </table>
        </center>
</div>
</div>
