@model Powerlevel.Models.Exercise
@using Powerlevel.Models

@{
    ViewBag.Title = Html.DisplayFor(model => model.Name);
}

<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            Primary Muscle Group
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MainMuscleWorked)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Instructions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Instructions)
        </dd>
        <!-- This block of code takes in the Viewbag list of ExerciseEquipment objects and displays all of them-->
        <dt>
            Exercise Equipment Required
        </dt>
        <dd>
            @foreach (ExerciseEquipment equip in ViewBag.Equipment)
            {
                @equip.EquipmentName<br>
            }
        </dd>
        <!-- This block of code takes in the Viewbag list of ExerciseFlag objects and displays all of them-->
        <dt>
            Exercise Recorded By
        </dt>
        <dd>
            @foreach (ExerciseFlag flag in ViewBag.Flags)
            {
                @flag.FlagName<br>
            }
        </dd>
        <!-- This block of code takes in the Viewbag list of ExerciseImage objects and displays the image for each one-->
        <dt>
            Images
        </dt>
        <dd>
            @foreach (ExerciseImage image in ViewBag.Images)
            {
                <!--Using the ImageName field, we can display all of the exercise images-->
                <img src="~/Content/images/exercise_examples/@image.ImageName" alt="ExerciseImage" style="height:400px;" />
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("All Exercises", "Index")
</p>
