@model IEnumerable<Powerlevel.Models.Exercise>
@using Powerlevel.Models


@{
    ViewBag.Title = "Index";
}

<h2>All Exercises</h2>
<div>
    <!--Table here is created in Javascript as a datatable SEE Scripts/ToasterScripts.js-->
    <table class="table" id="myTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    Primary Muscle Group
                </th>
                <th>
                    Equipment
                </th>
                <!--For whatever reason adding this extra th is needed for the JS table to work ask Nick I guess -Alex-->
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MainMuscleWorked)
                    </td>
                    <td>
                        
                        @foreach (ExerciseEquipment equip in ViewBag.Equipment)
                        {
                            if (equip.ExerciseId == item.ExerciseId)
                            {

                                @(equip.EquipmentName)

                            }
                        }
                    </td>
                    <td>
                        @Html.ActionLink("How to", "Details", new { id = item.ExerciseId })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
