@model IEnumerable<Powerlevel.Models.Exercise>

@{
    ViewBag.Title = "Index";
}

<h2>All Exercises</h2>
<div>
    <table class="table" id="myTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    Primary Muscle Group
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MainMuscleWorked)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.ExerciseId })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
