@model IEnumerable<Powerlevel.Models.WorkoutPlanWorkout>
@using Powerlevel.Models

@{
    ViewBag.Title = "Index";
}
<h2>Workouts for @Html.DisplayName(Model.First().WorkoutPlan.Name)</h2>
<!--
    This just returns "Name", I will hardcode the name of the plan for now since there is only one workout plan,
    but I could not figure out an efficient way to just display the name of the workout plan here

    <h2>Workouts for @Html.DisplayNameFor(model => model.WorkoutPlan.Name)</h2>
-->

<!--Display the Description of the Workout Plan-->
<h4>Description: @ViewBag.Description</h4>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Workout")
        </th>
        <th>
            @Html.DisplayName("Muscle Focus")
        </th>
        <th>
            @Html.DisplayName("Time Estimate")
        </th>
        <th>
            @Html.DisplayName("Day in Plan")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Workout.Name, "WorkoutList", "Exercise", new { id = item.WorkoutId }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Workout.MainMuscleFocus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Workout.TimeEstimate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DayOfPlan)
            </td>
        </tr>
    }

</table>
