@model Powerlevel.Models.UserWorkout

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h2>Choose a New Plan!</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.UsernameId, "UsernameId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <!-- User shouldn't be able to select their username, rather it should be automatic based on who is logged in, but right now they can!-->
                @Html.DropDownList("UsernameId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UsernameId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PlanWorkout.Plan.Name, "UserCurrentPlan", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <!-- Currently this shows 10 1's, each one indicating a stage in the workout plan, it SHOULD: A. only have the first "1", and
                    B. instead of a "1" it would the name of the workout plan, I couldn't figure out how to implement this... -->
                @Html.DropDownList("UserCurrentPlan", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PlanWorkout.Plan.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Start Plan" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("View Active Plans", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
