@model Powerlevel.Models.UserWorkout

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserWorkout</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Active Plan for:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>

        <dt>
            Workout in Sequence:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlanWorkout.LinkID)
        </dd>

        <dt>
            Workout Name:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlanWorkout.Workout.Name)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UWId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
