@model IEnumerable<Powerlevel.Models.UserWorkout>

@{
    ViewBag.Title = "Index";
}

@if (Request.IsAuthenticated)
{

    <h2>Active Plans</h2>

    <p>
        @Html.ActionLink("Start New Plan", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AspNetUser.UserName)
            </th>
            <th>
                Current Plan
            </th>
            <th>
                Current Workout
            </th>
            <th>
                Stage
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AspNetUser.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlanWorkout.Plan.Name)
                </td>
                <td>
                    @Html.ActionLink(item.PlanWorkout.Workout.Name, "Details", "Workouts", new { id = item.PlanWorkout.WorkoutId }, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlanWorkout.LinkID)
                </td>
                <td>
                    @*
                        We wont use these for now

                        @Html.ActionLink("Edit", "Edit", new { id = item.UWId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.UWId }) |
                    *@

                    @Html.ActionLink("Complete", "Complete", new { id = item.UWId }) |
                    @Html.ActionLink("Abandon", "Abandon", new { id = item.UWId })

                </td>
            </tr>
        }

    </table>
}

else
{
    <h2>Active Plans</h2>
    <p>
        You must be @Html.ActionLink("Logged In", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        to view Active Workout Plans.
    </p>
}