@model IEnumerable<Powerlevel.Models.UserWorkout>
@using Powerlevel.Models

<style>
    #IndexButton {
        border: solid;
        color: black;
        padding: 12px 32px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        font-family: 'Comic Sans MS';
        height: 50px;
        width: 300px;
        background-color: #6EFF69
    }

    #CurrWorkout {
        background-color: #6EFF69;
    }

    .AbandonButton {
        background-color: #FF7869;
    }
</style>

@{
    ViewBag.Title = "Workout Select";
}

@if (Request.IsAuthenticated)
{
    <br />
    <h1 style="text-align:center">Welcome, <span style="color:#FDFFAF">@User.Identity.Name</span>! Select a Workout method!</h1>
    <br />


    /* This segment of code checks if the logged in user has an active workout, if so, the "Resume Current" button will appear,
     * otherwise, a "Start New Workout" button appears */
    int loggedInId = 0;
    int currentWorkoutId = 0;

    foreach (var item in Model)
    {
        /* if the UserWorkout table has a user whose name matches the logged in user AND the Workout has not been completed (I.E., WorkoutCompleted field is "false")
         * then the loggedInId variable is set to that of the UserId so that the user is unable to start a new workout */
        if (item.User.UserName == User.Identity.Name && item.WorkoutCompleted == false)
        {
            loggedInId = item.UserId;
        }
    }
    bool startNewWorkout = true;
    foreach (var item in Model)
    {
        if (loggedInId == item.User.UserId)
        {
            startNewWorkout = false;
            //currentWorkoutId allows to redirect to the Current Workout the user is at in the Progress view
            currentWorkoutId = item.UWId;
        }
    }
    //End of segment of code checking if active workouts exist

    //Link to start a new workout if startNewWorkout is true
    if (startNewWorkout == true)
    {
        @Html.ActionLink("Free Workout", "Create", null, new { @class = "btn btn-success", id = "IndexButton", style = "margin-left:100px;" })

        @Html.ActionLink("Workout from Plan", "Index", "UserWorkoutPlans", null, new { @class = "btn btn-success", id = "IndexButton", style = "margin-left:310px;" })


        @Html.ActionLink("I don't know...", "Random", "UserWorkouts", null, new { @class = "btn btn-success", id = "IndexButton", style = "margin-left:36%;" })
        /* This is an alternative text option for starting new workouts
         *
        <h4>
            It looks like you don't have an Active Workout! <b>@Html.ActionLink("Start a New Workout Now!", "Create", null, new { @class = "LinkColor" })</b>
        </h4>
        */
    }

    //Button to resume workout if startNewWorkout is false
    if (startNewWorkout == false)
    {
        //Passes in the id of a users current workout and a false boolean value to the Progress function, since this is the workout button not attached to a plan
        @Html.ActionLink("Resume Current Workout", "Progress", null, new { id = currentWorkoutId, fromPlan = false }, new { @class = "btn btn-success", id = "IndexButton", style = "margin-left:100px;" })

        //Allows user to abandon their workout if there is one currently active
        @Html.ActionLink("Abandon Workout", "Abandon", null, new { id = currentWorkoutId }, new { @class = "btn btn-success", id = "IndexButton", style = "background-color:#FF7869; margin-left:310px;" })
    }

    @*
        *Stuff that isnt needed but kept some of the code here as implementations may be added elsewhere*



        <h3>How to do: @item.WorkoutExercise.Exercise.Instructions.ToString()</h3>
        <h8>Reps and Sets</h8>

            <!--Completion Rewards-->
            <hr />
            <h5>Completion Rewards:</h5>

            <!--temp variable used to hold the current workoutID to be used in API calls-->
            <div id="currentWorkoutID" style="visibility: hidden">@item.WorkoutExercise.WorkoutId</div>

            <img src="~/Content/images/icons/exp.png" alt="Experiences" style="height: 40px; width: 40px;" /> + <span id="Exp_Amount">0</span>
            <hr />
            <br />

            <!--Completion Rewards END-->

            @ViewBag.Testings
        </h4>
    *@

    <br />
    <br />
    <img src="~/Content/images/design_images/goblin_poison_blade.png" id="GoblinPoisonBlade" />
}

else
{
    < h1 > User Workout Page</ h1 >

    < p >
    You must be @Html.ActionLink("Logged In", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    to view or start your Workout.
    </ p >
}

<br /><br />
<p>Not working out right now? <b>@Html.ActionLink("View your Workout History!", "History", null, new { @class = "LinkColor" })</b></p>

@Scripts.Render("~/Scripts/workoutRewards.js")