@model IEnumerable<milestone3.Models.Topic>

@{
    ViewBag.Title = "Index";
}

<h2>All Posts</h2>

<p>
    @Html.ActionLink("Create a New Post!", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Upvotes
        </th>
        <th>
            News Title
        </th>
        <th>
            Category
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Views)
        </th>
        <th>
            Time Posted
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ranking)
        </td>
        <td>
            <a href="@Html.DisplayFor(modelItem => item.WebURL)">@Html.DisplayFor(modelItem => item.Title)</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Views)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Timestamp)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.TopicId })
        </td>
        <td>
            @Html.ActionLink("Comments", "Index", "Comments", new { id = item.TopicId }, null)
        </td>
    </tr>
}

</table>
