@model Powerlevel.Models.UserWorkoutPlan
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Create";
}

<br />
<h2>Choose a Workout Plan</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <!--Username-->
        <div class="form-group">
            <div class="col-md-10">

                @*get logged-in username from session*@
                @Html.TextBoxFor(model => model.UserName, htmlAttributes: new { @class = "form-control", @Value = @User.Identity.GetUserName(), @readonly = "readonly", @hidden = "hidden"})
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
        </div>

        @*get the plan name, using a dropdownlist*@
        <div class="form-group">
            @Html.Label("Workout Plan", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PlanId", (IEnumerable<SelectListItem>)ViewBag.AvailablePlans, null, new { @class = "form-control" })
            </div>
        </div>

        @*Hidden value of stage of plan*@
        <div class="form-group">
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.PlanStage, htmlAttributes: new { @class = "form-control", @Value = 0, @hidden="hidden", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.PlanStage, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Start Plan!" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Plans", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
