@model Powerlevel.Models.UserWorkoutPlan

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserWorkoutPlan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DaysToComplete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DaysToComplete)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfWorkouts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfWorkouts)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PlanId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
