
@{
    ViewBag.Title = "Color Selector";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    @using (Html.BeginForm())
    {
    <div class="form-group">
        @Html.Label("FirstColor", "First Color")
        @Html.TextBox("FirstColor", "", new { @class = "form-control", placeholder="#234fff",pattern="#[0-9-Fa-f]{6}", required="required"})
    </div>
    <div class="form-group">
        @Html.Label("SecondColor", "Second Color")
        @Html.TextBox("SecondColor", "", new { @class = "form-control", placeholder="#111fff", pattern="#[0-9-Fa-f]{6}", required="required"})
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Mix</button>
    </div>
        
    }
</div>

<div class="row">
    @if (ViewBag.Mix != null)
    {


        <div class="col-lg-8">
            <div class="col-sm-2 card" style="background-color: @ViewBag.FirstColor;">
           
            </div>
            <div class="col-sm-1">
                <p class="symbols">+</p>
            </div>
            <div class="col-sm-2 card" style="background-color: @ViewBag.SecondColor;">

            </div>
            <div class="col-sm-1">
                <p class="symbols">=</p>
            </div>
            <div class="col-sm-2 card" style="background-color: @ViewBag.MixedColor;">

            </div>
        </div>
    }
</div>

