
@{
    ViewBag.Title = "Color Selector";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    @using (Html.BeginForm())
    {
    <div class="form-group">
        @Html.Label("First Color")
        @Html.TextBox("First Color", "", new { @class = "form-control", placeholder="#234fff", required="required"})
    </div>
    <div class="form-group">
        @Html.Label("Second Color")
        @Html.TextBox("Second Color", "", new { @class = "form-control", placeholder="#111fff", required="required"})
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Mix</button>
    </div>
        
    }
</div>

<div class="row">
    <div class="container" id="First Color">

    </div>
    <div class="container" id="Second Color">

    </div>
    <div class="container" id="Mixed Color">

    </div>
</div>

